@import "tailwindcss";


:root {
  --background: #050505;
  --foreground: #ffffff;
  --red: #b40000;
}


* {
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}


body {

  margin:0;

  padding:0;

  background:#050505;

  color:white;

  font-family: Arial, Helvetica, sans-serif;

}


::-webkit-scrollbar {

width:8px;

}


::-webkit-scrollbar-track{

background:#050505;

}


::-webkit-scrollbar-thumb{

background:#8b0000;

border-radius:20px;

}


img{

user-select:none;

}




.text-gothic{

font-family: Georgia,serif;

font-weight:900;

letter-spacing:-2px;

}



.bg-noise{

background-image:
linear-gradient(
rgba(0,0,0,.7),
rgba(0,0,0,.7)
),
url("/noise.png");

}
